p {
  font-family: "Times New Roman", Times, serif;
}
h1{
background-color:black;
color:white;
font-size:3em;
}
p.fancy{
color:black;
font-style:Georgia;
}
h2{
  background-color:black;
  color:white;
  font-size:3em;
}
p.plain{
  color:black;
  font-style:Times;
}
